body {
	font-family: Goudy Old Style, Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
}

.btn-info {
	background-color: #686868;
	border-color: #5e5e5e;
}

.container-fluid {
  padding: 0px;
}

#supporters {
  padding-left: 40px;
  padding-right: 40px;
}

#side {
    padding: 0px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
  	background-color: #292929;
    box-shadow: 2px 8px 10px black;
}
#side ul {
    margin: 0;
    padding: 0;
}
#side ul li {
    color: #fff;
}


#navtop {
	width: 100%;
	background-color: #292929;
	border-color: #212121;
	border: solid 2px;
}

#smnav li{
	font-size: 30px;
	text-align: center;
	list-style-type: none;
	text-decoration-line: none;
	padding: 3px;
	border-radius: 10px;
	margin-top: 10px;
}

#smnav {
	list-style-type: none;
	text-decoration-line: none;
	padding: 0px;
}

#smnav a{
	text-decoration-line: none;
	color: #fec000;
	text-shadow: 1.4px 2px 2.9px #000000;
}

#smnav li:hover{
	background-color: #888;
}

#tere {
  padding:0px;
  margin: 0px;
}

#hamenu {
  float: left;
	color: grey;
	margin-top: 10px;
  padding-left: 8%;
  padding-right: 8%;
}

#logosmall {
	max-width: 40px;
	padding: 5px;
	float: left;
}

#smheader {
	font-size: 30px;
	margin-top: 12px;
	margin-left: -10px;
	color: #fec000;
	text-shadow: 1.4px 2px 2.9px #000000;
}

#logo {
	margin-top: 30px;
	padding-bottom: 20px;
}

#nav {
	list-style-type: none;
	text-decoration-line: none;
	text-align: center;
}

#nav li {
	color: #fec000;
	text-shadow: 1.4px 2px 2.9px #000000;
  margin-top: -1px;
  margin-bottom: -1px;
}

#nav a {
  padding: 15px;
	text-decoration-line: none;
}

#nav h4 {
	font-size: 30px;
}

#donate {
	color: #fec000;
	text-shadow: 1.4px 2px 2.9px #000000;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#donate a {
	color: #fec000;
	text-shadow: 1.4px 2px 2.9px #000000;
	text-decoration-line: none;
}

#links {
	padding-left: 15%;
	padding-top: 20px;
}

#links a{
	padding-left: 10%;
}

#menucontact {
	margin-top: 70px;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-family: Lucida sans, Georgia, serif;
	text-align: center;
}

#menucontact p {
	color: #4D4D4D;
	font-size: 10px;
}

#welcome {
  margin-top: 30px;
}

#welcome p {
  color: white;
  text-align: center;
	font-size: 25px;
  text-shadow: 1.8px 4px 5.8px #000000;
}

#page {
 padding: 20px;
 margin:0px;
}

#page h1{
	font-size: 80px;
	color: white;
	text-align: center;
	font-family: Gotham, Lucida sans, Georgia, serif;
	text-shadow: 1.8px 4px 5.8px #000000;
	padding: 20px;
}

#page h3{
	font-size: 50px;
	color: white;
	text-align: center;
	font-family: Gotham, Lucida sans, Georgia, serif;
	text-shadow: 1.8px 4px 5.8px #000000;
	padding: 20px;
}

#headshot {
  padding-bottom: 25px;
}

#bodytext {
	margin: 0px;
}

#bodytext p {
  font-family: Gotham, Lucida sans, Georgia, serif;
	font-size: 30px;
	padding: 30px;
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 0.5);
}

.hoveranim * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.hoveranim li {
  display: inline-block;
  list-style: outside none none;
  margin: 5px 1.5em;
  padding: 0px;
}

.hoveranim a {
  padding: 0px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.hoveranim a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 30%;
  bottom: 30%;
  left: 0;
  right: 0;
  border-top: 2px solid #fec000;
  border-bottom: 2px solid #fec000;
  border-radius: 1px;
}

.hoveranim a:hover,
.hoveranim .current a {
  color: #ffffff;
}


.hoveranim a:hover:before,
.hoveranim .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}
